<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whisky Discography</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href = "./static/css/style.css" rel = "stylesheet">
</head>


<body>

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <div class="logo-image">
          <img src="../static/image/WD1.PNG" class="img-fluid">
        </div>
      </a
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/stats">Statistics </a>
          <a class="nav-link" href="/explore">Explore </a>
          <a class="nav-link" href="/data">Distilleries </a>
          <a class="nav-link" href="/about">Our Picks</a>
        </div>
      </div>
    </div>
  </nav>


    <div class="container">
        <div class="row">
          <div class="col-md-12 jumbotron text-center">
            <h1>Whiskies of the Month</h1>
            <p>We are the Whisky Hunters! Find out what our Christmas in July pick for the month is</p>
          </div>
        </div>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../static/image/ms2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Alysha's Pick </h5>
              <p>Whisky Apprentice &#129381;</p>
              <p>For a smooth treat, drink it neat.</p>
            </div>
          </div>

          <div class="carousel-item">
            <img src="../static/image/ym1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Ewan's Pick</h5>
              <p>Whisky Appreciator &#127748;</p>
              <p>Never cry over spilt milk. It could've been whisky.</p>
            </div>
          </div>

          <div class="carousel-item">
            <img src="../static/image/craig.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Matt's Pick</h5>
              <p>Whisky Sommelier &#129363;</p>
              <p>Life Rule: Whisky mixes well with everything except decisions.</p>
            </div>
          </div>

          <div class="carousel-item">
            <img src="../static/image/oban.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Stephanie's Pick</h5>
              <p>Whisky Native &#129412;</p>
              <p>OH-bin</p>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card ">
       <img class="card-img-top" src="../static/image/alysha.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Alysha</h5>
          <p class="card-text">Slip into the whisky lifestyle with a Monkey Shoulder. An affordable premium Scotch Whisky that is steeped in history and culture and to this day is still tended by hand by the experienced Malt Men of Speyside. A smooth and rich 'triple' malt Scotch that has been blended from three of Speyside's finest single malts using batches from only 27 casks to produce this fine malt whisky. Bold and lightly fantastic, for a smooth treat, drink it neat.</p>
          <a href="https://www.monkeyshoulder.com" target="_blank" class="btn btn-primary">Explore More</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card" >
        <img class="card-img-top" src="../static/image/matt.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Matt</h5>
          <p class="card-text">Craigellachie 23 Year Old Single Malt Scotch Whisky is a masterpiece in old fashioned whisky making. This 23 year old has added spice, ripe fresh cooked and dried fruits with a touch of light peat smoke on the nose. The palate is filled with flavours of melted white chocolate, baked pineapple followed by spicy oak towards the finish. It is complex, deep and well structured. An elegant Scotch Whisky that could be enjoyed neat, on the rocks or with a dash of water.</p>
          <a href="https://www.craigellachie.com/" target="_blank" class="btn btn-primary">Explore More</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="../static/image/steph.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Stephanie</h5>
          <p class="card-text">Importers and entrepreneurs, the founders of Oban distillery would have approved of the Spanish influence brought to bear with this edition’s second maturation in Montilla Fino cask wood finish.  Pours amber, rose-hued.  The nose, Outstanding. Fruity and pungent; sea salt with crushed grapes, orange zest and hints of smoke. Massively complex. The taste, Most explosive Oban ever. Soft malt then wave upon wave of delicate yet rich fruit notes on a tide of brine..  The finish, Sweetened Jamaican coffee and oak, with an attractive malt-biscuit effect as it dies down.</p>
          <a href="https://www.obanwhisky.com" target="_blank" class="btn btn-primary">Explore More</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card ">
        <img class="card-img-top" src="../static/image/heriawan.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ewan</h5>
          <p class="card-text">I like whisky sours and long walks to the pub.</p>
          <a href="https://whisky.suntory.com/en/global/products/yamazaki" target="_blank" class="btn btn-primary">Explore More</a>
        </div>
      </div>
    </div>

  </div>
</div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>